## IDEA
###############################
/.idea/*
!/.idea/codeStyles
!/.idea/inspectionProfiles

## Composer
###############################
/composer.lock
/vendor/

## Testing files
###############################
/.grumphpinclude
/app/etc/env.test.php
/app/etc/vendor_path.php
/phpcs.xml
/phpstan.neon
/ruleset.xml
/setup