<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="core_layout_block_create_after">
        <observer name="attribute_landing" instance="Emico\AttributeLanding\Observer\SeoObserver"/>
    </event>
</config>
